<a href="https://colab.research.google.com/github/shashank559purulia/Predicting-default-Customers/blob/main/kisann1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
! gdown --id 1PiqtIzS7XZ91bvJVfCVf-3Aw_GE0iENR

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1PiqtIzS7XZ91bvJVfCVf-3Aw_GE0iENR
To: /content/kisan_net_log.csv
100% 27.5M/27.5M [00:00<00:00, 124MB/s]

In [ ]:
kisan=pd.read_csv('kisan_net_log.csv')
kisan.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (19,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,10000.0,36 months,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000,...,25.0,w,INDIVIDUAL,0,0,"""0174 Michelle Gateway",NaN,NaN,NaN,NaN
1,Mendozaberg,"OK 22690""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8000.0,36 months,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000,...,27.0,f,INDIVIDUAL,3,0,"""1076 Carney Fort Apt. 347",NaN,NaN,NaN,NaN
3,Loganmouth,"SD 05113""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15600.0,36 months,10.49,506.97,B,B3,Statistician,< 1 year,RENT,43057,...,26.0,f,INDIVIDUAL,0,0,"""87025 Mark Dale Apt. 269",NaN,NaN,NaN,NaN

In [ ]:
kisan1=kisan.iloc[0::2,0:27]
kisan1.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36 months,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000,...,16,0,36369,41.8,25.0,w,INDIVIDUAL,0,0,"""0174 Michelle Gateway"
2,8000.0,36 months,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000,...,17,0,20131,53.3,27.0,f,INDIVIDUAL,3,0,"""1076 Carney Fort Apt. 347"
4,15600.0,36 months,10.49,506.97,B,B3,Statistician,< 1 year,RENT,43057,...,13,0,11987,92.2,26.0,f,INDIVIDUAL,0,0,"""87025 Mark Dale Apt. 269"
6,7200.0,36 months,6.49,220.65,A,A2,Client Advocate,6 years,RENT,54000,...,6,0,5472,21.5,13.0,f,INDIVIDUAL,0,0,"""823 Reid Ford"
8,24375.0,60 months,17.27,609.33,C,C5,Destiny Management Inc.,9 years,MORTGAGE,55000,...,13,0,24584,69.8,43.0,f,INDIVIDUAL,1,0,"""679 Luna Roads"

In [ ]:
kisan1['loan_status'].value_counts()

Fully Paid     78498
Charged Off    19294
Jun-13           125
Aug-13           107
May-13            99
               ...
42000              1
81090              1
40000              1
85000              1
275000             1
Name: loan_status, Length: 127, dtype: int64

In [ ]:
kisan2=kisan1[(kisan1['loan_status']=='Fully Paid')|((kisan1['loan_status']=='Charged Off'))]
kisan2.shape

(97792, 27)

In [ ]:
kisan2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97792 entries, 0 to 200488
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             97792 non-null  object
 1   term                  97792 non-null  object
 2   int_rate              97792 non-null  float64
 3   installment           97792 non-null  float64
 4   grade                 97792 non-null  object
 5   sub_grade             97792 non-null  object
 6   emp_title             92061 non-null  object
 7   emp_length            93190 non-null  object
 8   home_ownership        97792 non-null  object
 9   annual_inc            97792 non-null  object
 10  verification_status   97792 non-null  object
 11  issue_d               97792 non-null  object
 12  loan_status           97792 non-null  object
 13  purpose               97792 non-null  object
 14  title                 97351 non-null  object
 15  dti                   97792 non-null  object
 16  earliest_cr_line      97792 non-null  object
 17  open_acc              97792 non-null  object
 18  pub_rec               97792 non-null  object
 19  revol_bal             97792 non-null  object
 20  revol_util            97723 non-null  float64
 21  total_acc             97792 non-null  float64
 22  initial_list_status   97792 non-null  object
 23  application_type      97792 non-null  object
 24  mort_acc              88924 non-null  object
 25  pub_rec_bankruptcies  97607 non-null  object
 26  address               97782 non-null  object
dtypes: float64(4), object(23)
memory usage: 20.9+ MB

In [ ]:
kisan2.isnull().sum()

loan_amnt                  0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title               5731
emp_length              4602
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
title                    441
dti                        0
earliest_cr_line           0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                69
total_acc                  0
initial_list_status        0
application_type           0
mort_acc                8868
pub_rec_bankruptcies     185
address                   10
dtype: int64

In [ ]:
import re
pattern='[a-zA-Z]'
cols=['loan_amnt','annual_inc','dti','revol_bal','mort_acc']
for i in cols:
    kisan2[i]=list(map(lambda x:'nan'if re.search(pattern,str(x))else x,kisan2[i]))
    kisan2=kisan2[kisan2[i]!='nan']
kisan2.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

(88741, 27)

In [ ]:
cols=['loan_amnt','int_rate','installment','annual_inc','dti',
 'revol_bal','revol_util']
for i in cols:
 kisan2[i]=list(map(lambda x:float(x),kisan2[i]))
kisan2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88741 entries, 0 to 200488
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             88741 non-null  float64
 1   term                  88741 non-null  object
 2   int_rate              88741 non-null  float64
 3   installment           88741 non-null  float64
 4   grade                 88741 non-null  object
 5   sub_grade             88741 non-null  object
 6   emp_title             83607 non-null  object
 7   emp_length            84403 non-null  object
 8   home_ownership        88741 non-null  object
 9   annual_inc            88741 non-null  float64
 10  verification_status   88741 non-null  object
 11  issue_d               88741 non-null  object
 12  loan_status           88741 non-null  object
 13  purpose               88741 non-null  object
 14  title                 88302 non-null  object
 15  dti                   88741 non-null  float64
 16  earliest_cr_line      88741 non-null  object
 17  open_acc              88741 non-null  object
 18  pub_rec               88741 non-null  object
 19  revol_bal             88741 non-null  float64
 20  revol_util            88684 non-null  float64
 21  total_acc             88741 non-null  float64
 22  initial_list_status   88741 non-null  object
 23  application_type      88741 non-null  object
 24  mort_acc              88741 non-null  object
 25  pub_rec_bankruptcies  88741 non-null  object
 26  address               88741 non-null  object
dtypes: float64(8), object(19)
memory usage: 19.0+ MB

In [ ]:
kisan2['title'].value_counts()

Debt consolidation                  37962
Credit card refinancing             12970
Home improvement                     3865
Other                                3179
Debt Consolidation                   2191
                                    ...
Credit Card and Medical Expenses        1
Home remodeling                         1
Getting a relief                        1
PayOffs For Good                        1
Credit card paid off                    1
Name: title, Length: 10289, dtype: int64

In [ ]:
kisan2['purpose'].value_counts()

debt_consolidation    53511
credit_card           19352
home_improvement       5359
other                  4275
major_purchase         1723
small_business          939
medical                 889
car                     808
moving                  599
vacation                549
house                   468
wedding                 215
renewable_energy         53
educational               1
Name: purpose, dtype: int64

In [ ]:
z=['debt_consolidation','credit_card']
kisan2['purpose']=list(map(lambda x:x if x in z else 'others',kisan2['purpose']))
kisan2['purpose'].value_counts()

debt_consolidation    53511
credit_card           19352
others                15878
Name: purpose, dtype: int64

In [ ]:
kisan2['home_ownership'].value_counts()

MORTGAGE    45023
RENT        35083
OWN          8613
OTHER          13
NONE            7
ANY             2
Name: home_ownership, dtype: int64

In [ ]:
z=['MORTGAGE','RENT']
kisan2['home_ownership']=list(map(lambda x:x if x in z else 'OTHERS',kisan2['home_ownership']))
kisan2['home_ownership'].value_counts()

MORTGAGE    45023
RENT        35083
OTHERS       8635
Name: home_ownership, dtype: int64

In [ ]:
kisan2['verification_status'].value_counts()

Verified           31144
Source Verified    30265
Not Verified       27332
Name: verification_status, dtype: int64

In [ ]:
values=['Verified','Not Verified']
kisan2['verification_status']=list(map(lambda x:x if x in values else 'Verified',kisan2['verification_status']))
kisan2['verification_status'].value_counts()

Verified        61409
Not Verified    27332
Name: verification_status, dtype: int64

In [ ]:
kisan2['pub_rec'].value_counts()

0     74769
1     11950
2      1393
3       360
4       147
5        63
6        27
8        15
7         8
10        3
9         2
11        2
19        1
13        1
Name: pub_rec, dtype: int64

In [ ]:

kisan2['pub_rec']=list(map(lambda x:x if x==0 else 1,kisan2['pub_rec']))
kisan2['pub_rec'].value_counts()

1    88741
Name: pub_rec, dtype: int64

In [ ]:
kisan2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88741 entries, 0 to 200488
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             88741 non-null  float64
 1   term                  88741 non-null  object
 2   int_rate              88741 non-null  float64
 3   installment           88741 non-null  float64
 4   grade                 88741 non-null  object
 5   sub_grade             88741 non-null  object
 6   emp_title             83607 non-null  object
 7   emp_length            84403 non-null  object
 8   home_ownership        88741 non-null  object
 9   annual_inc            88741 non-null  float64
 10  verification_status   88741 non-null  object
 11  issue_d               88741 non-null  object
 12  loan_status           88741 non-null  object
 13  purpose               88741 non-null  object
 14  title                 88302 non-null  object
 15  dti                   88741 non-null  float64
 16  earliest_cr_line      88741 non-null  object
 17  open_acc              88741 non-null  object
 18  pub_rec               88741 non-null  int64
 19  revol_bal             88741 non-null  float64
 20  revol_util            88684 non-null  float64
 21  total_acc             88741 non-null  float64
 22  initial_list_status   88741 non-null  object
 23  application_type      88741 non-null  object
 24  mort_acc              88741 non-null  object
 25  pub_rec_bankruptcies  88741 non-null  object
 26  address               88741 non-null  object
dtypes: float64(8), int64(1), object(18)
memory usage: 19.0+ MB